<connectionStrings>
  <!--<add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-dcc5500a-a02c-40dc-bd60-445737810873;AttachDbFilename=|DataDirectory|\aspnet-Website-dcc5500a-a02c-40dc-bd60-445737810873.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>-->

  <add name="DefaultConnection"
    connectionString="Data Source=BIREN;Initial Catalog=Chinook;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  
  <add name="ChinookDB"
       connectionString="Data Source=BIREN; Initial Catalog=Chinook; Integrated Security=true" providerName="System.Data.SqlClient"/>
</connectionStrings>